<!DOCTYPE html>
<html>
<head>
    <meta hhtp-equiv="Content-Type" content="text/html, charset=utf=8"/>
    <meta http-equiv='content-Language' content='pt-BR'/>

    <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />

    <title>Sistema de orçamento para CFTV ...::: W-A Solutions :::... </title>
</head>

<div id="page">

    <div id="header">
         <a href=http://127.0.0.1:8000/login> login | {{ url.url_encurtada }}</a>
         <a href=http://127.0.0.1:8000/logout> logout {{ url.url_encurtada }}</a>

    </div>

    <div id="content">
        {% block content %}
        {% endblock content %}
    </div>

</div>

<body>

</body>
</html>