{% extends "base.html" %}
{% block content %}

<div class="div_login">
   <form method="POST" accept-charset="utf-8">
       {% csrf_token %}

       {{ form.as_p }}
       <input type="submit" name="login" value="Login"/>
   </form>
</div>

{% endblock %}
