{% extends "base.html" %}
{% block content %}

    <div class="geral">
        <form action="cadastro.html" method="POST">
            {% csrf_token %}

            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.nome.id_for_label }}">
                        {{ form.nome.label }}:
                    </label>
                </div>

                <div id="name" class="cadCliente">
                    {{ form.nome }}
                    {{ form.nome.errors }}
                    {{ form.nome.error_messages }}
                    {{ form.nome.default_error_messages }}
                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}:
                    </label>
                </div>

                <div id="email" class="cadCliente">
                    {{ form.email }}
                    {{ form.email.error }}
                    {{ form.email.error_messages }}
                    {{ form.email.default_error_messages }}
                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.rua.id_for_label }}">
                        {{ form.rua.label }}:
                    </label>
                </div>

                <div id="endereco" class="cadCliente">
                       {{ form.rua }}
                       {{ form.rua.errors }}
                       {{ form.rua.error }}
                       {{ form.rua.error_messages }}
                       {{ form.rua.default_error_messages }}

                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.bairro.id_for_label }}">
                        {{ form.bairro.label }}:
                    </label>
                </div>

                <div id="bairro" class="cadCliente">
                    {{ form.bairro }}
                    {{ form.bairro.errors }}
                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.cidade.id_for_label }}">
                        {{ form.cidade.label }}:
                    </label>
                </div>

                <div id="cidade" class="cadCliente">
                    {{ form.cidade }}
                    {{ form.cidade.errors }}
                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.cep.id_for_label }}">
                        {{ form.cep.label }}:
                    </label>
                </div>

                <div id="cep" class="cadCliente">
                    {{ form.cep }}
                    {{ form.cep.errors }}
                </div>
            </div>


            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.telefone.id_for_label }}">
                        {{ form.telefone.label }}
                    </label>
                </div>

                <div id="telefone" class="cadCliente">
                    {{ form.telefone }}
                    {{ form.telefone.errors }}
                </div>
            </div>

            <div class="fields">
                <div class="div_label">
                    <label for="{{ form.dt_primeira_visita.id_for_label }}">
                        {{ form.dt_primeira_visita.label }}
                    </label>
                </div>

                <div id="telefone" class="cadCliente">
                    {{ form.dt_primeira_visita }}
                    {{ form.dt_primeira_visita.errors }}
                </div>
            </div>

        <input type="submit" value="Salvar" />

        </form>

    </div>
{% endblock %}