<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>TESTE HOME CLIENTE</h1>
{#   {% csrf_token %}#}
{#   <form action="." method="POST">#}
{##}
{#        <input type="submit" value="Cadastro" />#}
{#   </form>#}

</body>
</html>